html{
  scroll-behavior: smooth;
    
}
header{
    text-align: center;
    font-size: xx-large
}
#Cookingburg {
  width: 100%; 
  height: auto; 
}

#menu-toggle {
  display: none;
}
#menu-toggle:checked + .menu-icon + .menu {
  right: 0;
}


.menu-icon {
  position: fixed;
  top: 15px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
}
.menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding-top: 60px;
  transition: right 0.3s ease

}
.menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px;
}

